@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .dynamic-heading {
    @apply text-7xl max-lg:text-5xl;
  }

  .dynamic-subheading {
    @apply text-5xl max-lg:text-4xl max-md:text-3xl;
  }

  .dynamic-text {
    @apply text-lg max-lg:text-base;
  }

  .input-field {
    @apply ring-[1.25px] py-2 px-2 rounded-[10px] w-full ring-gray-300 outline-none
    hover:ring-[#B3B3B3] transition-all duration-100;
  }

  .user-card {
    @apply px-4 py-2 border-b-[1px] border-black/20;
  }

  .social-card {
    @apply w-full bg-gray-100 p-3 flex flex-row justify-start items-center gap-x-4 rounded-lg;
  }

  .dynamic-svg {
    @apply w-[500px] max-lg:w-[450px] max-md:w-[400px] max-sm:w-[300px] max-[450px]:w-[250px]
    opacity-15
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .smooth-animation {
    transition: all 500ms ease-in-out;
  }
}

.blue-gradient {
  background: radial-gradient(circle at 20% 20%, #c6e0ff, transparent 40%),
    radial-gradient(circle at 80% 30%, #e0f3ff, transparent 40%),
    radial-gradient(circle at 50% 80%, #c6e0ff, transparent 40%),
    radial-gradient(circle at 70% 50%, #ffffff, transparent 30%),
    radial-gradient(circle at 30% 70%, #c6e0ff, transparent 40%),
    radial-gradient(circle at 50% 50%, #e0f3ff, transparent 40%);
  background-size: 100% 100%;
}

.dark-gradient {
  background: radial-gradient(circle at 20% 20%, #00224b, transparent 60%),
    radial-gradient(circle at 80% 30%, #073e83, transparent 60%),
    radial-gradient(circle at 50% 80%, #00224b, transparent 60%),
    radial-gradient(circle at 70% 50%, #062141, transparent 50%),
    radial-gradient(circle at 30% 70%, #134480, transparent 60%),
    radial-gradient(circle at 50% 50%, #043065, transparent 60%);
  background-size: 150% 150%;
}


