@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Sora', sans-serif;
  }
}

@layer components {
  .default-container {
    @apply max-w-[1200px] mx-auto w-full px-4
  }

  .dynamic-heading {
    @apply text-7xl max-lg:text-5xl;
  }

  .dynamic-subheading {
    @apply text-5xl max-lg:text-4xl max-md:text-3xl;
  }

  .dynamic-text {
    @apply text-xl max-lg:text-lg;
  }

  .input-field {
    @apply ring-[1px] py-2 px-2 rounded-[10px] w-full ring-gray-300 outline-none;
  }

  .user-card {
    @apply px-4 py-2 border-b-[1px] border-black/20;
  }

  .social-card {
    @apply w-full bg-gray-100 p-3 flex flex-row justify-start items-center gap-x-4 rounded-lg;
  }

  .dynamic-svg {
    @apply w-[500px] max-lg:w-[450px] max-md:w-[400px] max-sm:w-[300px] max-[450px]:w-[250px]
    opacity-15
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .smooth-animation {
    transition: all 500ms ease-in-out;
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
